.chart {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.chart2 {
  display: inline-block;
}

body {
  background-color: snow;
}

.chart rect {
  opacity: 0.7 !important;
}

.chart rect:hover {
  opacity: 1.0 !important;
}

.bar:hover {
  fill: black;
}
